<!DOCTYPE html>
<html>
<style>
body {
    font: 400 14px/1.6 "Open Sans",sans-serif;
    color: #555;
}

.lor {
    margin: 100px auto;
    width: 800px;
}

.desc {
  position: relative;
  bottom: 15px;
  font: 100 3em "Helvetica Neue","Open Sans",sans-serif;
  color: #AEAEAE;
}

.id {
    display: block;
    font: 100 3em "Helvetica Neue","Open Sans", sans-serif;
}

.name {
    display: block;
    font: 100 3em "Helvetica Neue","Open Sans", sans-serif;
    margin-bottom: 0.25em;
}

</style>
<body>

<div class="lor">
  <span class="desc">{{desc}}</span><br>
  <span class="id">{{id}}</span>
  <span class="name">{{name}}</span>
</div>
</body>
</html>
