<!-- 右侧列表  -->
	<div class="container" style="display:flex;justify-content:center;align-items:center;width:100%;height:100%}.main>a>img{width:60%;margin-left:20%">
		<h1>Lua Redis Admin</h1>
	</div>

<script src="/static/js/admin/redis/dataTypeLineHtml.js"></script>
<script src="/static/js/admin/redis/addRedisKV.js"></script>
<script src="/static/js/admin/redis/updateRedisKV.js"></script>
<script>
	var serverName = '{{ serverName }}';
	var dbIndex = '{{ dbIndex }}';
	var basePath = '/';
	var groupId = '{{ groupId }}';

	function pageselectCallback(page_id, jq) {
    }

	$(document).ready(function() {

        $("#listPagination").pagination('${pagination.maxentries}', {
            callback: pageselectCallback,
            prev_text: '${pagination.prev_text}',
            next_text: '${pagination.next_text}',
            items_per_page: parseInt('${pagination.items_per_page}'),
            num_display_entries: parseInt('${pagination.num_display_entries}'),
            current_page: parseInt('${pagination.current_page}'),
            num_edge_entries: parseInt('${pagination.num_edge_entries}'),
            link_to:'${pagination.link_to}'
        });

		$(".query_a").on("click", function() {
			var query_a_ch = $(this).text();
			var query_a_en = $(this).attr("value1");
			$("#queryLabel_btn").text(query_a_ch);
			$("#query_input").attr("name", query_a_en);
		});

		$("#query_btn").on("click", function() {
			var queryKey = $("#query_input").attr("name");
			var queryValue = $("#query_input").val();
			var url = basePath + '/redis/stringList/' + serverName + '/' + dbIndex + '?queryKey='+queryKey + '&queryValue=' + queryValue;
			var encodeUrl = encodeURI(url);
			window.location.href = encodeUrl;
		});

		$(".back_btn").on("click", function() {
			window.location.href = basePath + '/redis/stringList/' + serverName + '/' + dbIndex;
		});


		$(".delete_btn").on("click", function() {
			var operator = $(this).attr("value1");
			var url = "static/redis/delKV";

			var deleteKeys = '';

			$("#listTable").find("input:checkbox[name='redisKey']:checked").each(function(){
				var key = $(this).attr("value1");
				deleteKeys = deleteKeys + "," +key;
			})

			deleteKeys = deleteKeys.substring(1);

			if(deleteKeys == '') {
				$("#model_title").text("warning");
				$("#model_content").text("please choose one to delete");
				$('#myModal').modal();
				return;
			}

			$.ajax({
				type: "post",
				url: url,
				dataType: "json",
				data: {
					serverName: serverName,
					dbIndex: dbIndex,
					deleteKeys: deleteKeys,
				},
				success: function(data) {
					modelAlert(data);
				}
			});
		});

		$(".changeShowType_btn").on("click", function() {
			var newState = $(this).attr("value1");
			var url = "static/redis/changeShowType";
			$.ajax({
				type: "post",
				url: url,
				dataType: "json",
				data: {
					state: newState,
				},
				success: function(data) {
					modelAlert(data);
				}
			})
		})
	});
</script>


